/************************/
/******* OhMyFood *******/
/*** Benoît Pannetier ***/
/***** Decembre 2022 ****/
/************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@100;400;500&display=swap');

body {
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    max-width: 1400px;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    margin: 21px auto;
    width: 170px;
}

section {
    padding: 25px 4.5%;
}

#location {
    background-color: #eaeaea;
}

section:nth-child(even) {
    background-color: #f7f7f7;
}

footer {
    background-color: #353535;
}

footer li {
    color: #fff;
}