@charset "UTF-8";
/************************/
/******* OhMyFood *******/
/*** Benoît Pannetier ***/
/***** Decembre 2022 ****/
/************************/
@import url("https://fonts.googleapis.com/css2?&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__link {
  color: #353535;
  text-decoration: none;
  transition: color 0.4s;
}
.header__link:hover {
  color: #008766;
}
.header__arrow {
  font-size: 1.3em;
  position: absolute;
  top: 23px;
  left: 20px;
}
.header__logo {
  background-color: #FFFFFF;
  display: flex;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
}
.header__img {
  width: 160px;
  margin: 23px auto 12px;
}
.header__location {
  background-color: #EAEAEA;
  color: #353535;
  font-weight: 500;
  text-align: center;
  padding: 15px;
}
.header__restaurant {
  height: 300px;
  object-fit: cover;
}
.header__icon {
  margin-right: 10px;
}

section {
  padding: 25px 4.5%;
}

.home {
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
  padding-top: 40px;
}
.home__title {
  font-size: 1.3em;
  max-width: 75%;
  margin: auto;
}

.button {
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  color: #FFFFFF;
  border-radius: 35px;
  font-size: 0.9em;
  font-weight: 400;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
}
.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 35px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.13);
  background: linear-gradient(170deg, #ff8de0 0%, #9e67e0 100%);
  opacity: 0;
  transition: all 0.3s;
}
.button:hover::after {
  opacity: 1;
}

.homepage {
  background-color: #F7F7F7;
  min-height: calc(100vh - 212px);
}
.homepage section:nth-child(odd) {
  background-color: #F7F7F7;
}
.homepage section:nth-child(even) {
  background-color: #FFFFFF;
}

h3 {
  font-size: 1.1em;
}

.fonctionnement {
  padding-bottom: 40px;
}
.fonctionnement__list {
  list-style: none;
  counter-reset: item;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}
.fonctionnement__item {
  counter-increment: item;
  background-color: #F7F7F7;
  font-weight: 500;
  box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  padding: 25px 20px 25px;
  margin: 0 0 25px 10px;
  position: relative;
  z-index: 0;
}
.fonctionnement__item:before {
  content: counter(item);
  background-color: #9356DC;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
  border-radius: 100%;
  width: 24px;
  display: inline-block;
  padding: 3px 0;
  margin-left: -30px;
  margin-right: 18px;
  z-index: 1;
}
.fonctionnement__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
}
.fonctionnement__item:hover::after {
  opacity: 1;
}
.fonctionnement__icon {
  color: #7e7e7e;
  font-size: 1.1em;
  width: 19px;
  text-align: center;
  margin-right: 15px;
}

.card {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  transition: filter 0.3s;
}
.card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  width: 75px;
  border-radius: 3px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 0;
}
.card__new::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 3px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.3s;
}
.card__new:hover::after {
  opacity: 1;
}
.card__info {
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: row;
  padding: 4px 16px 11px 16px;
  margin-top: 0;
}
.card__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__text {
  font-size: 1em;
  line-height: 1.7em;
  padding: 10px 0 5px;
}
.card__desc {
  font-size: 1.05em;
}
.card:hover {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.35));
}

.card__title, .card__desc, .plats__title, .plats__desc {
  margin: 0;
}

.heart {
  display: flex;
  align-items: center;
}
.heart__icon {
  font-size: 1.4em;
}

section:last-child {
  padding-bottom: 45px;
}

.restaurants__list {
  display: flex;
  flex-direction: column;
}
.restaurants__item {
  text-decoration: none;
  color: black;
}

.menu {
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  filter: drop-shadow(0px 2px 25px rgba(0, 0, 0, 0.1));
  margin-top: -60px;
  min-height: calc(100vh - 450px);
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 40px;
}

.restaurant__title {
  font-family: Shrikhand;
  font-size: 1.7em;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.plats {
  padding-top: 5px;
  padding-bottom: 5px;
}
.plats:hover > .plats__underline {
  width: 100px;
}
.plats__type {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.plats__underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-bottom: 12px;
  transition: width 0.3s;
}
.plats__list {
  display: flex;
  flex-direction: column;
}
.plats__item {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 10px 20px 10px 12px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
  transition: filter 0.3s;
}
.plats__item:hover {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}
.plats__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plats__title {
  font-size: 1.05em;
  font-weight: 500;
  margin-bottom: 5px;
}
.plats__desc {
  font-size: 0.95em;
  font-weight: 300;
}
.plats__prix {
  font-size: 0.95em;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}

.commander {
  display: flex;
  justify-content: space-around;
}
.commander__button {
  width: 125px;
  text-align: center;
}

.footer {
  background-color: #353535;
  padding: 30px 30px;
}
.footer__logo {
  width: 100px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__item {
  color: #FFFFFF;
  margin: 10px 0;
}
.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #99E2D0;
}
.footer__icon {
  font-size: 0.9em;
  width: 18px;
  text-align: center;
  margin-right: 5px;
}

@media screen and (min-width: 700px) {
  .fonctionnement__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
  }
  .fonctionnement__item {
    margin: 0 0 25px;
  }
  .fonctionnement__item:before {
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    width: 30px;
    margin: -40px auto 15px;
    padding: 5px 0;
  }
  .fonctionnement__text {
    display: flex;
    align-items: center;
  }
  .restaurants__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
  }
  .restaurants__item {
    min-width: 40%;
    max-width: 48%;
    flex-grow: 1;
  }
  .plats, .menu__title {
    max-width: 700px;
    padding-right: 4.5%;
    margin: auto;
  }
  .card {
    padding-bottom: 0;
  }
  .footer__links {
    display: flex;
    justify-content: space-between;
  }
  .footer__content {
    max-width: 550px;
    margin: auto;
  }
}
@media screen and (min-width: 991px) {
  .header--home {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
  }
  .header__logo--home {
    filter: none;
    margin-left: 50px;
  }
  .header__logo--restaurant {
    justify-content: center;
  }
  .header__arrow {
    position: relative;
  }
  .header__location {
    background-color: #FFFFFF;
    margin-right: 50px;
  }
  .header__img--restaurant {
    margin-left: 270px;
    margin-right: 270px;
  }
  .homepage__title {
    text-align: center;
  }
  .fonctionnement__list {
    max-width: 1000px;
    margin: auto;
  }
  .menu {
    border-radius: 0;
  }
  .restaurants__list {
    flex-wrap: nowrap;
    max-width: 1900px;
    margin: auto;
  }
  .restaurants__item {
    min-width: 23%;
  }
}

/*# sourceMappingURL=style.css.map */
